<header>
    <div class="container">
        <nav class="navbar-block">
            <div class="nav-line">
                <div data-left="0%" data-right="0%" class="nav-link">Вступление в группы</div>
                <div data-left="20%" data-right="100%" class="nav-link">Коменты</div>
                <div data-left="40%" data-right="200%" class="nav-link">Массовый чс</div>
                <div data-left="60%" data-right="300%" class="nav-link">Смена пароля</div>
                <div data-left="80%" data-right="400%" class="nav-link">Отправка подарков</div>
                <div class="casper"></div>
            </div>
        </nav>
    </div>
</header>